<div id="wrapper">
  <div id="header-wrapper" class="clearfix">
    <div class="pull-left" id="branding">
      <div class="logo">
        <img src="images/logo.png" title="Web-based Visual Task Modelling">
      </div>
    </div>
    <div id="header">
      <editor-menu></editor-menu>
      <editor-toolbar></editor-toolbar>
    </div>
  </div>
  <div id="canvas-wrapper" class="main-view pull-left">
    <editor-canvas></editor-canvas>
  </div>
  <div id="info-wrapper" class="main-view pull-left">
    <editor-infobar></editor-infobar>
  </div>
  <div lk-modal class="modal-bg"></div>
</div>
