<svg:path *ngIf="taskNode.parent" [attr.d]="getParentLinkPath()"></svg:path>
<svg:g class="task-icon" title="my task" >
  <svg:use xmlns:xlink="http://www.w3.org/1999/xlink" [attr.xlink:href]="getTaskTypeLink()" [attr.x]="taskNode.coords.x - 20" [attr.y]="taskNode.coords.y - 20" class="task-node" (click)="onClick()" (dblclick)="onDblclick()" [ngClass]="{selected: isSelecetd | async}"></svg:use>
  <svg:text [attr.x]="taskNode.coords.x" [attr.y]="taskNode.coords.y + 30" dy="3" class="task-name">{{taskNode.name}}</svg:text>
</svg:g>
<svg:g *ngIf="taskNode.relation">
	<svg:text [attr.x]="getRelationXCoord()" [attr.y]="taskNode.coords.y + 3" class="rel-text">{{getRelationSym()}}</svg:text>
	<svg:path [attr.d]="getRelationLinkPath()" class="rel-link"></svg:path>
</svg:g>
