<div id="toolbar">
  <div class="toolbar-items">
    <div class="task-types menu-group">
      <div class="toolbar-btn" ng-repeat="(task, val) in ::vm.TaskTypes" action="task" task="{{task.toLowerCase()}}">
        <div class="toolbar-icon {{task.toLowerCase()}}"></div>
      </div>
      <div class="toolbar-btn" action="library">
        <div class="toolbar-icon library"></div>
      </div>
    </div>
    <div class="menu-separator"></div>
    <div class="task-relations menu-group">
      <div class="toolbar-btn" ng-repeat="(relation, sym) in ::vm.TaskRelations" action="relation" relation="{{relation.toLowerCase()}}">
        <div class="toolbar-icon">{{sym}}</div>
      </div>
    </div>
  </div>
</div>
