<div id="main-menu">
  <div id="menu-items">
    <div class="menu-btn" action="new">
      <i class="menu-icon fa fa-file-image-o"></i>
    </div>
    <div class="menu-btn" action="save">
      <i class="menu-icon fa fa-floppy-o"></i>
    </div>
    <div class="menu-btn" action="validate">
      <i class="menu-icon fa fa-check"></i>
    </div>
    <div class="menu-btn" action="simulate">
      <i class="menu-icon fa fa-play"></i>
    </div>
    <div class="menu-btn" action="zoom-fit">
      <i class="menu-icon fa fa-object-group"></i>
    </div>
    <div class="menu-btn" action="zoom-minus">
      <i class="menu-icon fa fa-search-minus"></i>
    </div>
    <div class="menu-btn" action="zoom-plus">
      <i class="menu-icon fa fa-search-plus"></i>
    </div>
  </div>
</div>
