<div id="info-bar">
  <div class="info-head"><span class="title">{{vm.title}}</span></div>
  <div class="info-body">
    <div ng-switch="vm.infoType">
      <div ng-switch-when="task">
        <div class="form-group">
          <label>Name: </label>
          <input class="form-control info-control" ng-model="vm.currentTask.data.name" ng-model-options="{ updateOn: 'blur'}">
        </div>
        <div class="form-group">
          <label>Description: </label>
          <textarea class="form-control info-control" ng-model="vm.currentTask.data.description" ng-model-options="{ updateOn: 'blur'}"></textarea>
        </div>
        <div class="form-group">
          <label>Type: </label>
          <select class="form-control info-control" ng-disabled="vm.infoModel.isRoot" ng-change="vm.updateTaskType()" ng-model="vm.infoModel.type">
            <option ng-repeat="(taskType, val) in vm.TaskTypes" value="{{val}}">{{taskType}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Relation: </label>
          <select class="form-control info-control" ng-disabled="vm.infoModel.isLast" ng-change="vm.updateTaskRelation()" ng-model="vm.infoModel.relation">
            <option ng-repeat="(relation, sym) in vm.TaskRelations" value="{{sym}}">{{relation}} ({{sym}})</option>
          </select>
        </div>
        <button ng-click="vm.addToLibrary()">Add to library</button>
      </div>
      <div ng-switch-when="validation">
        <div class="validation-info">
          <h5 class="main" ng-class="vm.vInfo.valid ? 'passed' : 'failed'">Validation {{::vm.vInfo.valid ? 'Passed' : 'Failed'}}</h5>
          <div class="count">Errors: {{vm.vInfo.errorCount}}, Warnings: {{vm.vInfo.warnCount}}</div>
          <div class="messages">
            <div class="msg" ng-repeat="msg in vm.vInfo.messages">{{msg}}</div>
          </div>
        </div>
      </div>
      <div ng-switch-when="simulation">
        
      </div>
      <div ng-switch-default>
        <h4>Select a Task to see details.</h4>
      </div>
    </div>
  </div>
</div>
