<div id="toolbar">
  <div class="toolbar-items">
    <div class="task-types menu-group">
      <div class="toolbar-btn" *ngFor="let type of taskTypes" (click)="addTask(type)">
        <div class="toolbar-icon" [ngClass]="type.toLowerCase()"></div>
      </div>
      <div class="toolbar-btn" action="library">
        <ng-template #libraryContent>
          No modules addes to library yet.
        </ng-template>
        <div class="toolbar-icon library" [ngbPopover]="libraryContent" placement="bottom" triggers="click"></div>
        <!-- <div class="toolbar-icon library"></div> -->
      </div>
    </div>
    <div class="menu-separator"></div>
    <div class="task-relations menu-group">
      <div class="toolbar-btn" *ngFor="let relation of relations" (click)="addRelation(relation)">
        <div class="toolbar-icon" placement="bottom" [ngbTooltip]="taskRelations[relation].name">{{taskRelations[relation].sym}}</div>
      </div>
    </div>
  </div>
</div>
