<div id="main-menu">
  <div id="menu-items">
    <div class="menu-btn" action="new">
      <div class="menu-icon new"><i class="fa fa-file-image-o"></i></div>
    </div>
    <div class="menu-btn" action="save">
      <div class="menu-icon save"><i class="fa fa-floppy-o"></i></div>
    </div>
    <div class="menu-btn" action="validate">
      <div class="menu-icon validate"><i class="fa fa-check"></i></div>
    </div>
    <div class="menu-btn" action="simulate">
      <div class="menu-icon simulate"><i class="fa fa-play"></i></div>
    </div>
    <div class="menu-btn" action="zoom-fit">
      <div class="menu-icon zoom-fit"><i class="fa fa-object-group"></i></div>
    </div>
    <div class="menu-btn" action="zoom-minus">
      <div class="menu-icon zoom-minus"><i class="fa fa-search-minus"></i></div>
    </div>
    <div class="menu-btn" action="zoom-plus">
      <div class="menu-icon zoom-plus"><i class="fa fa-search-plus"></i></div>
    </div>
  </div>
</div>
