@import url("common.css");
@import url("../app/components/editor/editor.css");
@import url("../app/components/editor/menu/menu.css");
@import url("../app/components/editor/toolbar/toolbar.css");
@import url("../app/components/editor/canvas/canvas.css");
@import url("../app/components/editor/infobar/infobar.css");




/*@import url("editor/toolbar.css");
@import url("editor/canvas.css");
@import url("editor/infobar.css");
@import url("editor/modal.css");*/


.modal-bg {
  background-color: rgba( 0, 0, 0, 0.8);
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  display: none;
  z-index: 1050;
}

.modal-bg.open {
  display: block;
}

.lib-modal {
	width: 600px;
	/*height: 200px;*/
  background-color: #FAFAFA;
  border-radius: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lib-modal .lib-left {
	width: 200px;
}

.lib-modal .lib-right {
	width: 400px;
}

.lib-modal .title {
	font-size: 20px;
	font-weight: bold;
}
