#toolbar-wrapper {
  z-index: 300;
  position: fixed;
  left: 0px;
  width: 60px;
  overflow-y: auto;
  color: #FFFFFF;
  background-color: #00796B;
  bottom: 0;
  top: 65px;
}

#toolbar > ul {
  margin-top: 30px;
}

#toolbar .tool-item {
  text-align: center;
  margin-bottom: 15px;
}

.tool-btn {
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: cover;
  height: 27px;
  width: 27px;
}

.tool-btn[task="abstract"] {
  background-image: url("../../images/abstract.png");
}

.tool-btn[task="user"] {
  background-image: url("../../images/user.png");
}

.tool-btn[task="interaction"] {
  background-image: url("../../images/interaction.png");
}

.tool-btn[task="system"] {
  background-image: url("../../images/system.png");
}

.tool-btn.library {
  background-image: url("../../images/library.png");
}

#toolbar .relations .tool-item {
  margin-bottom: 5px;
}

.tool-btn[action="relation"] {
  color: #FFAB40;
  font-size: 15px;
  /* font-weight: bold; */
  letter-spacing: 1px;
  width: 40px;
  height: 40px;
  border-radius: 1px;
}

.tool-btn[action="relation"]:hover {
  background-color: #FFD180;
  color: #FF6D00;
}