<div id="info-bar">
  <div class="info-head"><span class="title">{{infobar.title}}</span></div>
  <div class="info-body">
    <div [ngSwitch]="infobar.type">
      <div *ngSwitchCase="infoType.Task">
        <div class="form-group">
          <label>Name: </label>
          <input class="form-control info-control" [ngModel]="currentTask.name" [ngFormControl]="nameField">
        </div>
        <div class="form-group">
          <label>Description: </label>
          <textarea class="form-control info-control" [ngModel]="currentTask.description" [ngFormControl]="descField"></textarea>
        </div>
        <div class="form-group">
          <label>Type: </label>
          <select class="form-control info-control" [disabled]="currentTask.isRoot" [ngModel]="currentTask.type" [ngFormControl]="typeField">
            <option *ngFor="let type of types" [value]="taskTypes[type]">{{type}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Relation: </label>
          <select class="form-control info-control" [disabled]="currentTask.isLast || currentTask.isRoot" [ngModel]="currentTask.relation" [ngFormControl]="relationField">
            <option *ngFor="let relation of relations" [value]="relation">{{relation}} ({{taskRelations[relation]}})</option>
          </select>
        </div>
        <span>
          <!-- <button (click)="addToLibrary()">Add to library</button> -->
          <button (click)="addToLibrary()">Add to library</button>
        </span>
        <span *ngIf="!currentTask.isRoot">
          <button (click)="deleteTask()">Delete task</button>
        </span>
      </div>
      <div *ngSwitchCase="infoType.Validation">
        <div class="validation-info">
          <h5 class="main" [ngClass]="vInfo.valid ? 'passed' : 'failed'">Validation {{vInfo.valid ? 'Passed' : 'Failed'}}</h5>
          <div class="count">Errors: {{vInfo.errorCount}}, Warnings: {{vInfo.warnCount}}</div>
          <div class="messages">
            <div class="msg" *ngFor="let item of vInfo.data">{{item.msg}}</div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="infoType.Simulation">
        <div class="sim-info">
          <div class="enabled-tasks">
            <h4>Enabled tasks</h4>
            <div *ngFor="let task of simData.ets">
              {{task.name}}
            </div>
          </div>
          <div class="sim-task-info">
          </div>
        </div>
      </div>
      <div *ngSwitchDefault>
        <div *ngIf="infobar.error">
          {{infobar.errMsg}}
        </div>
        <div *ngIf="!infobar.error"></div>
        <h4>Select a Task to see details.</h4>
      </div>
    </div>
  </div>
</div>