<div id="header-wrapper">
  <div id="header" class="clearfix">
    <div class="logo pull-left">
      <img src="images/logo.png" title="Web-based Visual Task Modelling">
    </div>
    <div id="action-bar" class="pull-left">
      <button type="button" class="action-btn" action="validate"><i class="fa fa-check"></i></button>
      <button type="button" class="action-btn" action="simulate"><i class="fa fa-play"></i></button>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><i class="fa fa-search-minus"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-search-plus"></i></button>
      </div>
    </div>
  </div>
</div>
