<div id="toolbar-wrapper">
  <div id="toolbar">
    <ul class="list-unstyled tasks">
      <li class="tool-item">
        <button type="button" class="tool-btn" action="task" task="abstract" title="System Task"></button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="task" task="user" title="User Task"></button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="task" task="interaction" title="Interaction Task"></button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="task" task="system" title="System Task"></button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn library" action="library" title="Add from Library"></button>
      </li>
    </ul>
    <ul class="list-unstyled relations">
      <li class="tool-item">
        <button type="button" class="tool-btn" action="relation" relation="unrestricted" title="unrestricted">|||</button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="relation" relation="choice" title="choice">[]</button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="relation" relation="concurrentinfo" title="concurrentinfo">|[]|</button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="relation" relation="random" title="random">|=|</button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="relation" relation="deact" title="deact">[&gt;</button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="relation" relation="enable" title="enable">&gt;&gt;</button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="relation" relation="choiceinfo" title="choiceinfo">[]&gt;&gt;</button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="relation" relation="resume" title="resume">|&gt;</button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="relation" relation="iteration" title="iteration">T*</button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="relation" relation="optional" title="optional">[T]</button>
      </li>
      <li class="tool-item">
        <button type="button" class="tool-btn" action="relation" relation="same" title="same">
          <->
        </button>
      </li>
    </ul>
  </div>
</div>
